@charset "UTF-8";
@import url("Lynton_Bold/stylesheet.css");
@import url("Lynton_Regular/stylesheet.css");

#lingue{
	position: absolute;
  right: 80px;
  top: 50px;
}

.icona-lingue{
    font-size: 15px;
    color: #92A287;
    text-align: left;
    text-decoration: none;
    text-decoration-color: none;
    font-family: "Lynton Regular";
   	margin-left: 5px;
}

.icona-lingue:hover{
	text-decoration: underline;
}

#logo {
    position: absolute;
	  font-family: "Lynton Bold";
    text-align: center;
    text-decoration: none;
    color: #eac5b3;
    font-size: 60px;
    width: 400px;
    left: 50%;
    margin-left:-200px;
		top: 30px;
}

.icone-interattive{
  position:absolute;
  width: 400px;
  top: 160px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
}

#icona-projects {
    font-size: 30px;
    color: #92A287;
    text-decoration: none;
    text-decoration-color: none;
    font-family: "Lynton Regular";
}

#icona-projects:hover{
	text-decoration: underline;
}

#icona-about {
	  font-family: "Lynton Regular";
    font-size: 30px;
	  color: #92a287;
    text-decoration: none;
 	  text-decoration-color: none;
    margin-left: 80px;
}

#icona-about:hover{
	text-decoration: underline;
}

.carrellata-home {
	position: absolute;
  align-items: center;
	top: 250px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

.icone-progetti{
  width: 600px;
  z-index: 1;
  margin-bottom: 50px;
}

.fade-bianco {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    opacity: 0;
    z-index: 2;
}

#fade-uno{
	position: absolute;
	left: 0px;
  top: 0px;
}

#fade-due{
	position: absolute;
	left: 0px;
	top: 454px;
}

#fade-tre{
	position: absolute;
	left: 0px;
	top: 908px;
}

#fade-quattro{
	position: absolute;
	left: 0px;
	top: 1362px;
}

#fade-cinque{
	position: absolute;
	left: 0px;
	top: 1813px;
}

#fade-sei{
	position: absolute;
	left: 0px;
	top: 2268px;
}

#fade-sette{
	position: absolute;
	left: 0px;
	top: 2721px;
}

#fade-otto{
	position: absolute;
	left: 0px;
	top: 3175px;
}

#fade-nove{
	position: absolute;
	left: 0px;
	top: 3630px;
}

.fade-testo {
	  font-family: 'Lynton Bold';
    font-size: 30px;
    color: #264933;
    text-decoration: none;
    text-align: center;
	  margin-top: 150px;
    z-index: 2;
}

.fade-bianco:hover {
	opacity:0.5;
}

.testo-progetto {
  position: absolute;
  align-items: center;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

.titolo {
	position: static;
	font-family: 'Lynton Bold';
	font-size: 25px;
	color: #264933;
  text-align: left;
  text-decoration: none;
	line-height: 1.5em;
	margin-bottom: 10px;
}

.didascalia {
	position: static;
	font-family: "Lynton Regular";
	font-size: 16px;
	color: #264933;
  text-align: left;
  text-decoration: none;
	line-height: 1.1em;
	margin-bottom: 30px;
   }

.link {
	font-family: "Lynton Regular";
	font-size: 18px;
	color: #92a287;
	text-decoration-color: none;
	text-decoration: none;
	line-height: 1.3em;
}

.link:hover{
	text-decoration: underline;
}

.corso {
	position: static;
	width: 300px;
	font-family: "Lynton Regular";
	font-size: 12px;
	color: #264933;
  text-align: left;
  text-decoration: none;
	line-height: 1.5em;
}

.gruppo {
    position: static;
    width: 300px;
    font-family: "Lynton Regular";
    font-size: 12px;
    color: #264933;
    text-align: left;
    text-decoration: none;
    line-height: 1.5em;
}

.didascalia-immagine{
	position: static;
	font-family: "Lynton Regular";
	font-size: 12px;
	color: #264933;
  text-align: left;
  text-decoration: none;
	line-height: 1.5em;
}

.carrellata {
  position: absolute;
  align-items: center;
	top: 250px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

.immagine-grande {
	position: static;
  width: 600px;
	margin-top: 30px;
}

#fototessera{
	position: absolute;
  left: 50%;
	margin-left: -175px;
  width: 350px;
	margin-top: 30px;
}

#about-me {
	position: absolute;
  align-items: center;
  width: 400px;
  left: 50%;
  margin-left: -200px;
	top: 750px;
}

.barra-chiusura{
	position: static;
	height: 60px;
	background-color: white;
}

.barra-chiusura-about{
	position: absolute;
  width: 380px;
	height: 50px;
	left: 100px;
	top: 950px;
	background-color: white;
}
