@font-face {
	font-family: 'Americana Regular';
	src: local('Americana Regular'), url('Americana/AmericanaTOT-Reg.otf') format('opentype');
	}
@font-face {
	font-family: 'Americana Regular Italic';
	src: local('Americana Regular'), url('Americana/AmericanaTOT-RegIta.otf') format('opentype');
	}
@font-face {
	font-family: 'Americana Bold';
	src: local('Americana Bold'), url('Americana/AmericanaTOT-Bol.otf') format('opentype');
	}
@font-face {
	font-family: 'Americana ExtraBold';
	src: local('Americana Bold'), url('Americana/AmericanaTOT-ExtBol.otf') format('opentype');
	}

#lingue{
	position: absolute;
  right: 80px;
  top: 50px;
}

.icona-lingue{
    font-size: 15px;
    color: #9CCBFF;
    text-align: left;
    text-decoration: none;
    text-decoration-color: none;
    font-family: "Americana Regular";
   	margin-left: 5px;
}

.icona-lingue:hover{
	text-decoration: underline;
}

#logo {
    position: absolute;
	  font-family: "Americana Bold";
    text-align: center;
    text-decoration: none;
    color: #ECA39D;
    font-size: 60px;
    width: 600px;
    left: 50%;
    margin-left:-300px;
		top: 50px;
}

.icone-interattive{
  position:absolute;
  width: 400px;
  top: 180px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
}

#icona-projects {
    font-size: 30px;
    color: #FFC130;
    text-decoration: none;
    text-decoration-color: none;
    font-family: "Americana Regular";
}

#icona-projects:hover{
	text-decoration: underline;
}

#icona-about {
	  font-family: "Americana Regular";
    font-size: 30px;
	  color: #FFC130;
    text-decoration: none;
 	  text-decoration-color: none;
    margin-left: 80px;
}

#icona-about:hover{
	text-decoration: underline;
}

.carrellata-home {
	position: absolute;
  align-items: center;
	top: 250px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

.icone-progetti{
  width: 600px;
  z-index: 1;
  margin-bottom: 50px;
}

.fade-bianco {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: #FFFFFF;
    opacity: 0;
    z-index: 2;
}

#fade-uno{
	position: absolute;
	left: 0px;
  top: 0px;
}

#fade-due{
	position: absolute;
	left: 0px;
	top: 454px;
}

#fade-tre{
	position: absolute;
	left: 0px;
	top: 908px;
}

#fade-quattro{
	position: absolute;
	left: 0px;
	top: 1362px;
}

#fade-cinque{
	position: absolute;
	left: 0px;
	top: 1813px;
}

#fade-sei{
	position: absolute;
	left: 0px;
	top: 2268px;
}

#fade-sette{
	position: absolute;
	left: 0px;
	top: 2721px;
}

#fade-otto{
	position: absolute;
	left: 0px;
	top: 3175px;
}

#fade-nove{
	position: absolute;
	left: 0px;
	top: 3630px;
}

.fade-testo {
	  font-family: 'Americana Regular';
    font-size: 30px;
    color: #18288D;
    text-decoration: none;
    text-align: center;
	  margin-top: 150px;
    z-index: 2;
}

.fade-bianco:hover {
	opacity:0.7;
}

.testo-progetto {
  position: absolute;
  align-items: center;
  width: 600px;
	top: 250px;
  left: 50%;
  margin-left: -300px;
}

.titolo {
	position: static;
	font-family: 'Americana Bold';
	font-size: 25px;
	color: #ECA39D;
  text-align: left;
  text-decoration: none;
	line-height: 1.5em;
	margin-bottom: 10px;
}

.didascalia {
	position: static;
	font-family: "Americana Regular";
	font-size: 16px;
	color: #18288D;
  text-align: left;
  text-decoration: none;
	line-height: 1.3em;
	margin-bottom: 30px;
   }

.link {
	font-family: "Americana Regular";
	font-size: 16px;
	color: #FFC130;
	text-decoration-color: none;
	text-decoration: none;
	line-height: 1.3em;
}

.link:hover{
	text-decoration: underline;
}

.corso {
	position: static;
	width: 300px;
	font-family: "Americana Regular";
	font-size: 12px;
	color: #9CCBFF;
  text-align: left;
  text-decoration: none;
	line-height: 1.4em;
}

.gruppo {
    position: static;
    width: 300px;
    font-family: "Americana Regular";
    font-size: 12px;
    color: #9CCBFF;
    text-align: left;
    text-decoration: none;
    line-height: 1.4em;
}

.didascalia-immagine{
	position: static;
	font-family: "Americana Regular";
	font-size: 12px;
	color: #2653AF;
  text-align: left;
  text-decoration: none;
	line-height: 1.5em;
}

.carrellata {
  position: absolute;
  align-items: center;
	top: 700px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

.immagine-grande {
	position: static;
  width: 600px;
	margin-top: 30px;
}

#fototessera{
	position: absolute;
  left: 50%;
	margin-left: -200px;
  width: 400px;
	top:-400px;
}

#about-me {
	position: absolute;
  align-items: center;
  width: 400px;
  left: 50%;
  margin-left: -200px;
	top: 800px;
}

.barra-chiusura{
	position: static;
	height: 60px;
	background-color: white;
}

.barra-chiusura-about{
	position: absolute;
  width: 380px;
	height: 50px;
	left: 100px;
	top: 950px;
	background-color: white;
}
