@charset "UTF-8";
@import url("Lynton_Bold/stylesheet.css");
@import url("Lynton_Regular/stylesheet.css");

#logo {
    position: absolute;
	font-family: "Lynton Bold";
    text-align: left;
    text-decoration: none;
    color: #eac5b3;
    font-size: 80px;
    left: 110px;
    
}

#icona-projects {
    position: absolute;
    left: 1050px;
    top: 108px;
    font-size: 30px;
    color: #92A287;
    text-align: left;
    text-decoration: none;
    text-decoration-color: none;
    font-family: "Lynton Regular";    
}

#icona-about {
    position: absolute;
    top: 108px;
	font-family: "Lynton Regular";
    font-size: 30px;
	color: #92a287;
    text-align: left;
    text-decoration: none;
    right: 110px;
	text-decoration-color: none;
}

.fade-bianco {
    position: absolute;
    width: 380px;
    height: 285px;
    background-color: #FFFFFF;
    opacity: 0;
    z-index: 1;
}

.fade-testo {
	font-family: 'Lynton Bold';
    font-size: 30px;
    color: #264933;
    text-decoration: none;
    text-align: center;
	margin-top: 115px;
}

#fade-uno{
	position: absolute;
	left: 100px;
    top: 230px;
}

#fade-due{
	position: absolute;
	left: 520px;
	top: 230px;
}

#fade-tre{
	position: absolute;
	left: 940px;
	top: 230px;
}

#fade-quattro{
	position: absolute;
	left: 100px;
	top: 550px;
}

#fade-cinque{
	position: absolute;
	left: 520px;
	top: 550px;
}

#fade-sei{
	position: absolute;
	left: 940px;
	top: 550px;
}



.fade-bianco:hover {
	opacity:0.5;
}


.icone-progetti {
	position: absolute;
    width: 380px;
}

#uno {
	left: 100px;
	top: 230px;
}

#due {
	left: 520px;
	top: 230px;
}

#tre {
	left: 940px;
	top: 230px;
}

#quattro {
	left: 100px;
	top: 550px;
}

#cinque {
	left: 520px;
	top: 550px;
}

#sei {
	left: 940px;
	top: 550px;
}
.titolo {
	position: fixed;
	width: 450px;
	top: 220px;
	left: 880px;
	font-family: 'Lynton Bold';
	font-size: 25px;
	color: #264933;
    text-align: left;
    text-decoration: none;
	line-height: 0.5em; 
}

.didascalia {
	position: fixed;
	width: 450px;
	top: 260px;
	left: 880px;
	font-family: "Lynton Regular";
	font-size: 20px;
	color: #264933;
    text-align: left;
    text-decoration: none;
	line-height: 1em; 
   }


.immagine-grande {
	position: relative;
    width: 700px;
	left: 100px;
	top: 230px;
	margin-bottom: 30px;
} 

.carrellata {
    width: 700px;
} 

.corso {
	position: fixed;
	width: 240px;
	top: 560px;
	left: 880px;
	font-family: "Lynton Regular";
	font-size: 12px;
	color: #264933;
    text-align: left;
    text-decoration: none;
	line-height: 0.5em;
	
}

.gruppo {
	position: fixed;
	width: 240px;
	top: 560px;
	left: 1150px;
	font-family: "Lynton Regular";
	font-size: 12px;
	color: #264933;
    text-align: left;
    text-decoration: none;
	line-height: 0.5em; 
}







